.dad-detail{
    background-image: url("../Detail/DALL·E\ 2023-02-26\ 17.34.50\ -\ infinity\ image\ \ of\ travel\ psicodelico\ color\ coffe.png");
    padding-bottom: 60px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin:0 200px ;
    position: relative;
    
} 

.imgd{
    
    margin: 10px;
    height: 200px;
    width: 300px;

}

.card-detail{
    
    margin-top: 20px;
    width: 500px;
    height: 700px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1edd0;
    border: 2.5px black solid;
}



.volver{
    
    font-family: 'Century Gothic', sans-serif;
    border-radius: 4px;   
    background-color: #1a1a1a;
    border: solid 10px #121212;
    color: #fff;
    text-align: center;
        
}
.acti{
    color: #478aa5;
    
}

 .containeractivities-cards{
    width: 500px;
    height: 400px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid black 2.5px;
    background-color: #f1edd0;
    margin-top: 20px;
    list-style:none;
    margin-right: 40px;
}

li h2{
    line-height: 50px;
}

.elm{
    font-family: 'Century Gothic', sans-serif;
    border-radius: 4px;   
    background-color: #1a1a1a;
    border: solid 10px #121212;
    color: #fff;
    width: 100px;
    height: 40px;
} 



