*{
    text-decoration: none;
}
.dad{
    background-color: #9ed1b7;
    
}
.dad-card{
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}

.navis{
    background-color: #78a890;
    object-position: bottom;
    display: flex;
    justify-content: space-between;
}
.dad-nav{
    display: flex;
}
.letras{
    margin-top: 25px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.logis{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 20px;
   
}
.dad-act button {
    margin-top: 25px;
    margin-right: 20px;
    --primary-color: #0a516d;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}
  
.dad-act button .arrow-wrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.dad-act button .arrow {
    
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}
  
.dad-act button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}
  
.dad-act button:hover {
    background-color: var(--hover-color);
}
  
.dad-act button:hover .arrow {
    background: var(--secondary-color);
}
  
.dad-act button:hover .arrow:before {
    right: 0;
}

.botonera button {
    width: fit-content;
    min-width: 10px;
    height: 30px;
    margin: 2px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}
  
.botonera button:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}
  
.botonera button:active {
    transform: scale(0.95);
}



.botonera select{
    width: fit-content;
    min-width: 10px;
    height: 30px;
    margin: 2px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}
  
.botonera select:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}
  
.botonera select:active {
    transform: scale(0.95);
}

