.container{
    display:flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin:0 200px ;
    position: relative;
    
} 

.imgd{
    border-radius: 50%;
    margin: 10px;
    height: 300px;
    width: 300px;

}

.card-detail{
    padding-top: 80px;
    margin-top: 20px;
    display: flex;
    width: 800px;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    background-color: aliceblue;
    border-radius: 5%;
    border: 2.5px black solid;
}

.linkd{
    position: start;
    margin-left: 30px;
    margin-top: -40px;
}

.volver{
   
    font-family: 'Century Gothic', sans-serif;
    border-radius: 4px;   
    background-color: #1a1a1a;
    border: solid 10px #121212;
    color: #fff;
    text-align: center;
        
}

 .containeractivities-cards{
    width: 800px;
    height: 400px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5%;
    border: solid black 2.5px;
    background-color: aliceblue;
    margin-top: 20px;
    list-style:none;
    margin-right: 40px;
}

li h2{
    line-height: 50px;
}

.elm{
    font-family: 'Century Gothic', sans-serif;
    border-radius: 4px;   
    background-color: #1a1a1a;
    border: solid 10px #121212;
    color: #fff;
    width: 100px;
    height: 40px;
} 



