.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 100px;
    background-color: transparent;
    
    
  }
   .img {
    object-fit: contain;
    object-position: top;
    width: 400px;
    height: 300px;
  }
  .cards .flip-card {
    background-color: black;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    /* border: solid 1px #121212; */
    box-shadow: 10px 20px 5px 0px #1212127e;
    text-align: center;
    
  }
  .link {
    text-decoration: none;
    color: aliceblue;
  }
  
  
  
 